body {
  background: #f7f7f7;
}

html, body {
  font-family: 'Poppins Flex', iranyekan, serif;
  color: #ecececc7 !important;
}

h4 {
  font-size: 1vw !important;
}

.login-form {
  padding: 5vh 10vw;
  @media all and (min-width: 768px) {
    padding: 25vh 2vw;
  }

  h1 {
    font-size: 1.7rem;
  }
}

.login-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media all and (max-width: 576px) {
    min-height: 30vh;
  }
}

/* Main */
.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 180000;
}

.sidebar {
  height: 100vh;
  width: 13%;
  background: #24242e;
  color: #f7f7f7;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}

.sidebar.close {
  width: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 87%;
  height: 100vh;
  margin-left: 13%;
  transition: all 0.5s;
}

.content.close {
  margin-left: 70px;
}

.sidebar.close .logout {
  right: 0;
  left: 0;
}

.top-bar {
  /*background: white;
  height: 50px;
  display: flex;*/

  background: rgba(36, 38, 51, 0.9803921568627451);
  height: 9%;
  width: 100%;
  z-index: 2;
  /*position: fixed;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .close-menu {
    display: flex;
    /* margin-top: 10px;*/
    font-size: 20px;
  }
}


.main {
  display: flex;

  height: 91%;
  width: 100%;
  overflow-y: hidden;
  background: #383a59;
}

.logo-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /*max-height: calc(6vh - 1vw);
  background: white;
  padding: 3px;
  border-radius: 6px;*/
  width: 2.5vw;
}

.item-title {
  transition: none;
  overflow: hidden;

}

.sidebar.close .logo-text {
  display: none;
}

.sidebar.open .logo-text {
  transition-delay: 0.7s;
}

.sidebar.close .item-title {
  display: none;
}

.sidebar.close .notification {
  display: none;
}

.sidebar.close li {
  justify-content: center;
}

.sidebar.close li i {
  margin: 0;
}

.sidebar.close li a {
  text-align: center;
}

.logo-text {
  height: 4vh;
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: baseline;
  width: 100%;
  transition: none;
}

.side-menu {
  padding-left: 0;
}

.side-menu li {
  list-style: none;
  position: relative;
}

.side-menu li i {
  margin-right: 1vw;
}

.side-menu li a {
  text-decoration: none;
  color: white;
  padding: 1vw;
  width: 100%;
  height: 100%;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
}

.side-menu.logout {
  position: absolute;
  bottom: 0;
  left: 1vw;
  margin-bottom: 0;
}

.side-menu.logout a {
  display: block;
  padding-left: 0;
}

.notification {
  position: absolute;
  right: 1vw;
  background: #ff5454;
  border-radius: 20px;
  width: 20px;
  text-align: center;
  font-size: 10px;
  height: 14px;
}

.side-menu li a.active {
  /*background: #2e6ee7;*/
  color: #ff8124 !important;
  background-color: #282a36;
}

.side-menu li a.active i {
  /*background: #2e6ee7;*/
  color: #ff8124;
}

.item-title {
  font-size: 10px;
}

.count-widget {
  background: white;
  border-radius: 8px;
  padding: 15px;
}

.widget-icon img {
  max-width: 100%;
}

.table-img {
  width: 30px;
}

.pointer {
  cursor: pointer;
}

.widget {
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 2px 7px 5px #eee;
  margin: 0 10px;

  .icon {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 47px;
    border-left: 1px #f7f7f7 solid;
  }

  .text p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

table {
  background: #282a36;
  color: #ecececc7 !important;
  border-color: rgba(36, 38, 51, 0.9803921568627451) !important;
  border-radius: 5px !important;
}

/*table th {

  background-color: var(--tableHeader);
  line-height: 3.7vh;
}*/

table thead {
  background: rgba(36, 38, 51, 0.9803921568627451);

  border-radius: 5px;
}

table thead tr th {
  border: 1px solid rgba(36, 38, 51) !important;
  font-weight: 500 !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(36, 38, 51, 0.9803921568627451) !important;
}

table tr th {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

th, td {
  vertical-align: middle !important;
}

table thead tr {
  /*border: none !important;*/
}

.table > :not(:first-child) {
  border-top: none !important;
}

.striped tr:nth-child(even) td {
  background-color: #38384678;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.hide-scrollBar::-webkit-scrollbar {
  display: none;
}

.hide-scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollView::-webkit-scrollbar {
  display: none;
}

.scrollView {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 !important;
}

.primary-bg {
  background: #242633;
}

.secondary-bg {
  background: #282a36;
}

.inputGroup {
  border: 0.005vh solid #242633;
}

.userInfoBox {
  background: #21232e;
  padding: 2vh 1vw;
  border-radius: 5px;
}

.text-color {
  color: #ecececc7
}

.input-group {
  border: 1px solid #181a24;
}

.form-control:focus {
  background-color: #282a36;
  border: none;
  color: #ecececc7 !important;
}

.form-control {
  color: #ecececc7 !important;
}

.font-size-sm {
  font-size: 0.75vw;
}

.font-size-sm-plus {
  font-size: 0.8vw;
}

.font-size-md {
  font-size: 1vw;
}

.font-size-md-01 {
  font-size: 1.25vw;
}

.font-size-md-plus {
  font-size: 1.35vw;
}

.font-size-lg {
  font-size: 2.2vw;
}

.login-container {
  background-color: #383a59;
  background-repeat: repeat;
  background-position: center center;
  background-size: 600px 1200px;
  width: 100vw;
  height: 100vh;
  animation-name: MOVE-BG;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*overflow: hidden;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes MOVE-BG {
  from {
    background-position: center top;
  }
  to {
    background-position: center 1200px;
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.login-content img {
  width: 35vw;
}

.this-login-form {
  width: 100%;
  height: 35vh;
  background-color: rgba(36, 38, 51, 0.9);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 2vw;
}

.login-input {
  width: 100%;
  height: 5.5vh;
  /*background-color: #242633;*/
  border: 1px solid #181a26;
  border-radius: 5px;
  margin: 1vh 0;

}

.login-input input {
  all: unset;
  background-color: rgba(46, 48, 70, 0.77);
  height: 100%;
  width: 70%;
  border-radius: 0 5px 5px 0;
  color: #ecececc7 !important;


}

.login-input span {
  background-color: rgba(37, 40, 55, 0.82);
  width: 30%;
  border-radius: 5px 0 0 5px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-submit button {
  all: unset;
  background: #50fa7ba1;
  padding: 1vh 3vw;
  border-radius: 5px;
  cursor: pointer;
}

.login-submit button:disabled {
  background: rgba(46, 48, 70, 0.77);
  cursor: not-allowed;
}

button:disabled {
  background: rgba(46, 48, 70, 0.77) !important;
  cursor: not-allowed !important;
  border: none !important;
}